@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* --- Shared Style --- */
* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.btn-primary {
    width: 451px;
    height: 54px;
    border-radius: 10px;
    background: #E48700;
    box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.30);
    padding: 15px 197px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}

.text-primary {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

input {
    color: #808080;
    font-size: 14px;
    font-weight: 300;
    font-size: 14px;
    font-weight: 300;
    border-radius: 9px;
    background: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
    ;
    width: 95%;
    padding-left: 20px;
    border: 1px solid #4285F4;
}

main {
    height: 100vh;
    width: 100vw;
}

section {
    display: flex;
    height: 100%;
    width: 100%;
}

.half-part-1 {
    background-image: url('../img/Saly-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ECBC76;
    height: 100%;
    width: 50%;
}

.half-part-2 {
    background-image: url('../img/Saly-2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav h2 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


form {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.sign-in {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left:0%;
    right: 0%;
    width: fit-content;
    margin: auto auto;
    top:10%;
    bottom: 10%;;
    z-index: 2;
    padding: 55px 45px;
    /* border: 1px solid red; */
    border-radius: 40px;
    background: #FFF;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
    gap: 20px;
}

.sign-in h1 {
    color: #000;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.sign-in a {
    color: #AD3113;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.forget-pass {
    text-align: right;
    margin-bottom: 30px;
}

.google-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 9px;
    background: #FFF4E3;
    padding: 15px;
}

.google-img p {
    color: #B87514;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list a {
    text-decoration: none;
}

.social-img {
    padding: 15px;
    border-radius: 9px;
    background: #F6F6F6;
}

.or {
    text-align: center;
    margin: 24px 0px;
}

label {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border: 1px solid red; */
}

.no-account {}

.no-account li {
    list-style: none;
    color: #8D8D8D;



}

.no-account a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 576px) {
    .half-part-2{
        background-color: #ECBC76;
    }
}